<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">AboutMessage.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Twitter</a></li>
            <li><a href="#" class="text-white">Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
			<a href="#" class="navbar-brand d-flex align-items-center p-1 m-1" data-bs-toggle="dropdown"><img src="assets\app.svg" alt="APP"><strong>Brand</strong></a>
			  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu2">
				<li><a routerLink="/dashboard" class="dropdown-item" type="button">Dashboard</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a routerLink="/contactus" class="dropdown-item" type="button">Contact Us</a></li>
				<li><a  routerLink="/privacy" class="dropdown-item" type="button">Privacy policy</a></li>
			  </ul>
      <button class="navbar-toggler p-0 m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</header>

<router-outlet></router-outlet>